<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="base_length" value="0.6" />
    <xacro:property name="base_height" value="0.2" />
    <xacro:property name="base_height" value="0.2" />

    <!-- Visual/Physical CAMERA link - Body of the sensor-->
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.03" rpy="0 0 0" />
            </geometry>
            <origin xyz="${base_length / 2.0 + 0.015} 0 ${base_height / 2.0}" rpy="0 ${pi / 2.0} 0" />
            <material name="red" />
        </visual>

        <xacro:box_inertia m="5.0" x="${base_length}" y="${base_width}" z="${base_height}" 
                           o_xyz="0 0 ${base_height/2.0}" o_rpy="0 0 0" />
        <collision>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="base_link" />
        <child link="camera_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>


    
    <!-- Sensor frame - The actual sensor (required for Ign) -->
    <link name="camera_frame"> <!-- Puts the sensor on camera_frame link-->
        <inertial>
            <mass value="0.001" />
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
        </inertial>
    </link>

    <joint name="camera_frame_joint" type="fixed">
        <parent link="camera_link" />
        <child link="camera_frame" />
        <origin xyz="${base_length / 2.0 + 0.06} 0 ${base_height / 2.0}" rpy="0 0 0" />
    </joint>

    <!-- Gazebo LIDAR Sensor -->
    <gazebo reference="camera_frame">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ignition_frame_id>camera_frame</ignition_frame_id>
            <camera>
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
            </clip>
            </camera>
            <always_on>true</always_on>
        </sensor>
    </gazebo>

</robot>